{% extends 'main/base.html' %}


{% load static %}

{% block title %} Add command page {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'constructor/css/add_command.css' %}">
    <script src="{% static 'constructor/js/add_command.js' %}"></script>
{% endblock %}

{% block div-animation %}<div class="animation start-newcommand"></div>{% endblock %}

{% block content %}
  <main>
    <div class="tasks-list gradient-border">
          <div class="overtask">
              <div class="task">

                <form method="post" id="app">
                  {% csrf_token %}
      
      
                      
                  <select type="text" name="bot_name" id="id_bot_name" >
                      <option class="default">Select a bot</option>
                    {% for bot in bots %}
                      <option>{{bot.bot_username}}</option>
                    {% endfor %}
                  </select>
      
                  <select type="text" name="type" id="id_type" >
                      <option>command</option>
                      <option>message</option>
                  </select>
      
                  <input name="message" maxlength="10" required="" id="id_message" placeholder="Target message">
                  <textarea type="text" name="answer" maxlength="255" required="" id="id_answer" placeholder="Bot's answer"></textarea>
      
                  <button class="sub" type="submit" name="Submit">Submit</button>
                </form>

              </div>
          </div>
    </div>
  </main>
{% endblock %}