{% extends 'main/base.html' %}


{% load static %}

{% block title %} Add command page {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'constructor/css/add_command.css' %}">
    <script src="{% static 'constructor/js/add_command.js' %}"></script>
{% endblock %}

{% block div-animation %}<div class="animation start-newcommand"></div>{% endblock %}

{% block content %}
    <main>
        <h1>Add command page</h1>
        <div class="command-form">
          <form method="post" id="app">
            {% csrf_token %}

            <div id="select-box">
              <input type="checkbox" class="input-view" name="bot_name" id="id_bot_name"> 
                
              <div id="select" class="brd">

                <div id="value">
                  <span class="span-bot">Select a bot</span>
                </div>

                <div id="chevrons">
                  <i class="fas fa-chevron-up"></i>
                  <i class="fas fa-chevron-down"></i>
                </div>

              </div>

              <div type="select" id="options">
                    {% for bot in bots %}
                      <div class="option" onclick="show('{{ bot.bot_username }}')">
                          <input class="s top" type="radio">
                          <input class="s bottom" type="radio" >
                          
                          <i>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                              </svg>
                          </i>
      
                          <span class="label" >{{ bot.bot_username }}</span>
                        </div>
                    {% endfor %}
                    
                    <div id="option-bg"></div>
              </div>
          
            </div>


            <div id="select-box">
              <input type="checkbox" class="input-view" name="bot_name" id="id_bot_name"> 
                
              <div id="select" class="brd">

                <div id="value">
                  <span class="span-bot">Select a bot</span>
                </div>

                <div id="chevrons">
                  <i class="fas fa-chevron-up"></i>
                  <i class="fas fa-chevron-down"></i>
                </div>

              </div>

              <div type="select" id="options">
                    <div class="option" onclick="show('command')">
                        <input class="s top" type="radio">
                        <input class="s bottom" type="radio" >
                        
                        <i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                            </svg>
                        </i>
    
                        <span class="label">command</span>
                    </div>
                    <div class="option" onclick="show('message')">
                      <input class="s top" type="radio">
                      <input class="s bottom" type="radio" >
                      
                      <i>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                              <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                          </svg>
                      </i>
  
                      <span class="label" >message</span>
                  </div>
                    <div id="option-bg"></div>
              </div>
          
            </div>

            <select type="text" name="type" id="id_type" >
                <option>command</option>
                <option>message</option>
            </select>

            <input name="message" maxlength="10" required="" id="id_message" value="Target message">
            <textarea type="text" name="answer" maxlength="255" required="" id="id_answer">Bot's answer</textarea>

            <button type="submit" name="Submit">Submit</button>
          </form>
        </div>
        

          <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
    </main>
{% endblock %}