<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Add command page</h1>
    <a href="{% url 'home' %}">Home page</a>
    <br>
    <br>
    <a href="{% url 'bots' %}">Bots</a>
    <br>
    <br>
    <form method="post" name="">
        {% csrf_token %}


        <select type="text" name="bot_name" id="id_bot_name">
            {% for bot in bots %}
                <option>{{ bot.bot_username }}</option>
            {% empty %}
                <option>Select a bot</option>
            {% endfor %}
        </select>

        <select type="text" name="type" id="id_type" >
            <option>command</option>
            <option>message</option>
        </select>

        <input name="message" maxlength="10" required="" id="id_message" value="Target message">
        <textarea type="text" name="answer" maxlength="255" required="" id="id_answer">Bot's answer</textarea>

        <button type="submit" name="Submit">Submit</button>
    </form>

    <br>

</body>
</html>