{% extends 'main/base.html' %}


{% load static %}

{% block title %} Home {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block div-animation %}<div class="animation start-bots"></div>{% endblock %}

{% block content %}
    <main>
    <h1>Bot page</h1>
    {% for command in commands %}
        <div style="height: 70px; width: 100%; display: flex; justify-content: space-around">
            <span>
                <p style="display: inline">Command:</p>
                <h3 style="display: inline">{{ command.message }}</h3>
            </span>

            <span>
                <p style="display: inline">Answer:</p>
                <h3 style="display: inline">{{ command.answer }}</h3>
            </span>

            <span>
            <form action="{% url 'command-delete-page' command.id %}" method="post">{% csrf_token %}
                <p style="display: inline">Delete "{{ command }}"?</p>
                {{ form }}
                <input type="submit" value="Confirm">
            </form>
            </span>

            <span>
                <p style="display: inline">Edit command:</p>

                <button class="button open-button">Edit</button>

                <div class="popup" id="popup-1">
                    <h3>Dialog window</h3>
                    <button class="button close-button">Close</button>
                </div>

            </span>


        </div>
    {% endfor %}
    </main>
{% endblock %}