{% extends 'main/base.html' %}


{% load static %}


{% block title %}{{bot}}{% endblock %}


{% block links %}
    <link rel="stylesheet" href="{% static 'constructor/css/add_command.css' %}">
    <link rel="stylesheet" href="{% static 'constructor/css/bot_edit.css' %}">
{% endblock %}


{% block div-animation %}<div class="animation start-bots"></div>{% endblock %}


{% block content %}
    <main>
        <div class="tasks-list gradient-border">
            <div class="overtask">
                <div class="task">
                    {% for command in commands %}
                        <div class="bot-info">
                            <span class="info">
                                <span>
                                    <p>Command:</p>
                                    <h3>{{ command.message }}</h3>
                                </span>
                                <span>
                                    <p>Answer:</p>
                                    <h3>{{ command.answer }}</h3>
                                </span>
                                
                            </span>

                            <span>
                                <form action="{% url 'command-delete-page' command.id %}" method="post">{% csrf_token %}
                                    {{ form }}
                                    <input class="sub" type="submit" value="Delete">
                                </form>
                            </span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}