{% extends 'main/base.html' %}


{% load static %}

{% block title %} Home {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'constructor/css/new_bot.css' %}">
{% endblock %}

{% block content %}
    <main>
    {{ user }}
    <h1>Create new bot</h1>
    <a href="{% url 'home' %}">Home page</a>
    <br>
    <br>
    <a href="{% url 'bots' %}">Bots</a>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" name="Submit">Submit</button>
    </form>
    </main>
{% endblock %}