body {
    overflow-y: hidden;
}

main {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}


.title {
    width: 100%;
    
}


h1 {
    text-align: center;
    font-style: normal;
    font-weight: 200;
    font-size: 64px;

    color: rgb(255, 128, 255);
    text-shadow: 6px 6px 24px #a488ac;
}

.hero-banner {
    align-items: center;
    display: flex;
    justify-content: center;
}

.hero-banner__title {
    color: rgb(255, 128, 255);
    font-size: 100px;
    font-weight: 700;
    padding: 0 20px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
}

.hero-banner__stroked-title {
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.hero-banner__image {
    border-radius: 20px;
    transform: rotate(-15deg);
    width: 350px;
}


.wrap {
    margin-top: 120px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
  
.button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #a488ac;
    background: linear-gradient(90deg, rgb(255, 128, 255) 0%, #b65acf 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgb(255, 128, 255);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.create-btn::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid rgb(255, 128, 255);
    box-shadow: 0 0 60px rgb(255, 128, 255);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover, .button:focus {
color: #313133;
transform: translateY(-6px);
box-shadow: none;
}

.create-btn:hover::before, button:focus::before {
opacity: 1;
}

.create-btn::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 5px solid rgb(255, 128, 255);

    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.create-btn:hover::after, button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }
    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}