{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>

  <link rel="stylesheet" href="{% static 'main/css/base.css' %}">
  {% block links %}
  {% endblock %}

</head>
<body>
  <header>
    <span class="fake"></span>
    <div class="header">
      <a class="btn-home header-button" href="{% url 'home' %}">Home</a>
      <a class="btn-addcommand header-button" href="{% url 'bots' %}">My bots</a>
      <a class="btn-bots header-button" href="{% url 'create-new-bot' %}">New bot</a>
      <a class="btn-newbot header-button" href="{% url 'bot-add-command' %}">New command</a>
      <a class="btn-about header-button" href="{% url 'about' %}">About us</a>
      {% block div-animation %}{% endblock %}

    </div>
    <span class="fake">
      {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"><button class="log-btn">LOG OUT</button></a>
      {% else %}
        <a href="{% url 'authentication' %}"><button class="log-btn">LOG IN</button></a>
      {% endif %}
    </span>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>