<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
  {% if user.is_authenticated %}
        {{ user }}
      <a href="{% url 'logout' %}"><button name="logout">Logout</button></a>
    {% endif %}
  <h1>Main Page</h1>
  <a href="{% url 'create-new-bot' %}">Create bot</a>
  <br>
  <br>
  <a href="{% url 'bot-add-command' %}">Add command</a>
  <br>
  <br>
  <a href="{% url 'bots' %}">Bots</a>
  <br>
  <br>
  <a href="{% url 'authentication' %}">authentication</a>

</body>
</html>