{% extends 'main/base.html' %}


{% load static %}

{% block title %} Home {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'main/css/index.css' %}">
{% endblock %}

{% block div-animation %}<div class="animation start-home"></div>{% endblock %}

{% block content %}
    <main>


        
            {% if request.user.is_authenticated %}
                  <div class="hero-banner">
                    <div class="hero-banner__title" aria-hidden="true">Welcome, {{user}}!</div>
                    <img class="hero-banner__image" src="https://picfiles.alphacoders.com/345/345755.jpg"/>
                    <h1 class="hero-banner__title hero-banner__stroked-title">Welcome, {{user}}!</h1>
                  </div>
                  <div class="wrap">
                      <a href="{% url 'create-new-bot' %}"><button class="button create-btn">Create new bot</button></a>
                  </div>
            {% else %}
                <div class="hero-banner">
                    <div class="hero-banner__title" aria-hidden="true">Welcome!</div>
                    <img class="hero-banner__image" src="https://picfiles.alphacoders.com/345/345755.jpg"/>
                    <h1 class="hero-banner__title hero-banner__stroked-title">Welcome!</h1>
                </div>
                  <div class="wrap">
                    <a href="{% url 'authentication' %}"><button class="button create-btn">Authentication</button></a>
                </div>
            {% endif %}



        </div>


    </main>


{% endblock %}